/* 🧡 universal code */
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
a{
    color: black;
}
:root {
    --primary-color: #ffffff;
}

/* 🔥 navbar left side */
.navbar-container .navbar {
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: pink;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo-container {
    display: flex;
    width: 30vw;
    background-color: rebeccapurple;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo,
.login-avatar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo-container .navbar-logo img,
.login-avatar .login-avatar-logo img {
    object-fit: contain;
    height: 9.5vh;
    border-radius: 50px;
}

.navbar-logo-container .logo-name {
    font-size: 35px;

}

.menu-btn .menu-btn-label {
    font-size: 32px;
    margin-right: 10px;
    color: white;
    display: none;
}




/* 🔥 navbar right side */
.navbar-links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    background-color: antiquewhite;
    margin: 0 3px;
}

.navbar-links-container ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-links-container ul li {
    font-size: 19px;
}

.navbar-links-container ul li:not(:last-child) {
    margin-right: 30px;
}

.login-avatar .login-avatar-logo img {
    height: 7vh;
}
.navbar-links-container-resp {
    display: none;
}

/* main body */

/* 🔥 main body container */
.body-container{
    display: flex;
    height: 90vh;
    width: 100vw;
    /* background-color: greenyellow; */
}
.body-intro-details{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    justify-content:center;
    /* background-color: palevioletred; */

}
.body-intro-details .heading{
    font-size: 42px;
    font-weight: bold;
    color: green;
}
.body-intro-details p{
    font-size: 20px;
}
.intro-photo{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: center;
}






/* extra classes for handling responsiveness */




/* ================================================================================ 

🔥🔥 Responsive code for mobile size 🔥🔥 

================================================================================ */
@media (max-width : 1070px) {

    /*🔥 navigation bar  */
    .navbar-logo-container {
        width: 100vw;
        background-color: rebeccapurple;
        height: 10vh;
    }

    .navbar {
        display: flex;
        align-items: center;
    }

    .menu-btn .menu-btn-label {
        display: block;
    }

    .navbar-container .navbar {
        display: block;
    }

    .navbar-links-container {
        display: none;
    }

    /* toggling class through js */
    .navbar-links-container-resp {
        position: fixed;
        display: block;
        width: 100%;
        height: 90vh;
        background-color: palegoldenrod;
        display: flex;
        justify-content: center;
        transition: all 0.65s;
        left: -100%;
    }

    .navbar-links-container-resp ul {
        display: flex;
        width: 60%;
        flex-direction: column;
        background-color: pink;
        height: 60vh;
        align-items: center;
        font-size: 25px;
        padding: 30px 0;
    }

    .navbar-links-container-resp ul li:not(:last-child) {
        margin-bottom: 30px;
    }

    #responsive:checked~.navbar-links-container-resp::before {
        background-color: palevioletred;
        left: 0;
    }

}